<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome to Admin panel!</h1>
    <p>Please log in to continue</p>
    <a href="/admin-login">Login</a>
</body>
</html>